body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cover-image {
  max-height: 330px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cover-image img {
  transition: transform 1s, filter 2s ease-in-out;
  -webkit-transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.card:hover .cover-image img {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.is-overflow-hidden {
  overflow: hidden !important;
}

.is-cursor-pointer {
  cursor: pointer !important;
}

.is-tr-1 {
  top: 1rem;
  right: 1rem;
}

.is-absolute {
  position: absolute;
}

.is-circle {
  border-radius: 50%;
}

.is-text-wide-1 {
  letter-spacing: 0.1em !important;
}

.is-fill-white {
  fill: #ffffff;
}

.w-6 {
  width: 1.5rem !important;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
